@{
    ViewBag.Title = "ViewUsers";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@{
    ViewBag.Title = "ViewTrains";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model IEnumerable<RMS.Models.user>
<h2>ViewUsers</h2>
<div style="background-color:white; margin-top:0%" class="container">
    <h1>Users: </h1>

        <div class="control-group">
            <div class="controls">
                <input type="text" id="username" name="username" placeholder="Username" />
                <button  value="search" onclick="myFun();">search</button>
            </div>
        </div>
        
    <br /><br />

        <table id="db" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.id)</th>
                    <th>@Html.DisplayNameFor(model => model.username)</th>
                    <th>@Html.DisplayNameFor(model => model.email)</th>
                    <th>@Html.DisplayNameFor(model => model.password)</th>
                    <th>@Html.DisplayNameFor(model => model.account_no)</th>
                    <th>@Html.DisplayNameFor(model => model.status)</th>
                    <th>Block</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in @Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelobj => obj.id)</td>
                        <td>@Html.DisplayFor(modelobj => obj.username)</td>
                        <td>@Html.DisplayFor(modelobj => obj.password)</td>
                        <td>@Html.DisplayFor(modelobj => obj.email)</td>
                        <td>@Html.DisplayFor(modelobj => obj.account_no)</td>
                        <td>@Html.DisplayFor(modelobj => obj.status)</td>
                        <td><button class="btn btn-primary" onclick="return ConfirmBlock(@obj.id)">Block/Unblock</button></td>
                        <td><button type="submit" class="btn btn-danger" onclick="return ConfirmFunction(@obj.id);">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
@section admin{
    <div class="container" style="margin-top:4.2%; color:chocolate; background-color:whitesmoke">
        <h1 style="margin-left:30%">----All Users---</h1>
    </div>
}

<script>
    function myFun()
    {
        var a = document.getElementById("username").value;

        $.getJSON("/Admin/SearchUsers?name=" + a, function(data) {
            alert("returned");
            $('#db').empty().append(data);
        });
    }
</script>



<script>
    function ConfirmFunction(a)
        {
            var b=confirm("Do you want to delete user.");
            if(b==true)
                self.location = '/Admin/DeleteUser/' + a;
            else
                return false;
    }

    function ConfirmBlock(a)
    {
        var b=confirm("Are you Sure???");
        if(b==true)
            self.location = '/Admin/BlockUser/' + a;
        else
            return false;
    }

</script>

